---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="flex flex-col align-bottom h-screen bg-top bg-cover" style="background-image: url(/assets/images/moor-yellow-ls.png)">
			<div class="flex justify-center ">
				<div class="pt-10 sm:pt-20 w-1/2 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4">
					<img src={logo}  alt="moor & meor logo green"/>	
				</div>
			</div>
			
			
		</div>
		
	</div>
	<div class="-mt-40 mr-4 text-[#3A401D]">
		<p class="text-right font-medium">Organic Clothing<br>Equipment<br>Adventures</p>
		<p class="text-right ">Website coming soon...</p>
		<p class="text-right ">Instagram @<a class=" underline hover:font-bold" href="https://www.instagram.com/moorandmeor/">moorandmeor</a></p>
		<p class="text-right ">6 Chapel St, St Ives, TR262LR</p>
	</div>
	</div>
